.c1{ height: 640px;text-align: center;}
.tit{ font-size: 40px; color: #444444; background: -webkit-linear-gradient(top,#415266,#9eaad4);
    background: -moz-linear-gradient(top,#415266,#9eaad4);
    background: -ms-linear-gradient(top,#415266,#9eaad4);
    padding-top: 20px;padding-bottom: 20px;
    text-shadow: 0 0 2px #fff; line-height: 50px;font-family: '黑体'; text-align: center; font-weight: bold;}
.c1_bj{ height: 100%; width: 100%; background: url("../img/banner1.jpg") no-repeat; background-size: cover; }
.cont{ width: 100%; }
.design{ width:100%;display: -webkit-box; display: -moz-box; height: 205px;  }
.design li{ font-family: '微软雅黑';  overflow: hidden;  -webkit-box-flex: 1; -moz-box-flex: 1; box-sizing: border-box; border: 1px solid rgba(0,0,0,.5);}
.design li a{
    width: 324px;
    -webkit-transition: .4s all ease;
    -moz-transition: .4s all ease;
    -ms-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
    background: rgba(0,0,0,.4);
    display: block; text-align: center;
    line-height: 203px; font-size: 15px; text-shadow: 0 0 4px #000; color: #fff;}
.design li a:hover{
    background: rgba(0,0,0,.5);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}
.about{ height: 640px; text-align: center;}
#box{ width:645px; margin:0 auto; padding-top: 60px; text-align:center; overflow:hidden; font-size:20px;}
#box img{ width:270px; height:129px;}
#t1{ width:540px; height:36px; line-height:36px; outline:none; text-indent:6px; font-size:20px;}
.s_btn {
    outline:none;
    width: 100px;
    height: 40px;
    float:right;
    color: rgb(255, 255, 255);
    font-size: 15px;
    letter-spacing: 1px;
    background: rgb(51, 133, 255);
    border-bottom: 1px solid rgb(45, 120, 244);
    -webkit-appearance: none;
    border:none;
    -webkit-border-radius: 0;
    margin-left:1px;
    cursor:pointer;
}
#box ul{ width:542px; border:1px solid #ccc; border-top:none; text-align:left; text-indent:6px; display:none;}
#box ul li{ height:30px; line-height:30px; cursor:default;}
#box ul li.active{ background:#f0f0f0;}
.contact { position: relative; height: 640px; background: #2d2d35}
.cont{ font-size: 14px; color:#FF1493}
.tell{ background: url(../img/tel.png) no-repeat;width: 19px; height: 29px; display: block;}
.contact ol{ margin-top: 200px}
.contact ol li span{ margin-top: 30px; color: #fff; margin-right: 50px; font-size: 15px}
.em{ background: url(../img/email.png) no-repeat; width: 19px; height: 15px;}
.sina{ background: url(../img/sina.png) no-repeat; width: 20px; height: 20px;}
form{ position: relative;}
.form{ width: 350px; height: 450px; background:#FF1493; position: absolute; right: 150px; top: 150px; }
form input[type=text]{ width: 300px; height: 50px; background: #fff; border-radius: 5px; margin-top: 20px; margin-left: 22px;}
textarea{ width: 300px; height: 200px; margin-top: 20px; margin-left: 22px; resize:none; border-radius: 5px;}
form span{ font-size: 16px; color: #666;}
.username{ position: absolute; top:38px; left: 130px;}
.useremail{ position: absolute; top:113px; left: 130px;}
.message{ position: absolute; top:200px; left: 130px;}
form input[type=button]{ width: 100px; color: #FF1493; border-radius: 5px; cursor: pointer; height: 50px; margin-top: 20px; margin-left: 130px; background:#2d2d35; border: none; outline: none}