body{ overflow: hidden;}
.box-3d{ width: 100px; height: 100px;  position: absolute; bottom: 10%; left: 50%; margin-top: -50px; margin-left: -50px; -webkit-transform:perspective(800px) rotateX(30deg) rotateY(-60deg);-moz-transform:perspective(800px) rotateX(30deg) rotateY(-60deg);
    -ms-transform:perspective(800px) rotateX(30deg) rotateY(-60deg);
    transform:perspective(800px) rotateX(30deg) rotateY(-60deg);
    transform-style:preserve-3d; background: rgba(0,0,0,0);
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
}
.box-3d div{ text-shadow: 0 0 3px #fff; color: #ccc; width: 100px; height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; border: 1px solid #ccc; position: absolute; top: 0; left: 0; background: deeppink;}
.box-3d .front{ -ms-transform: translateZ(50px);-webkit-transform: translateZ(50px);-moz-transform: translateZ(50px);  transform:translateZ(50px); }
.box-3d .back{ -ms-transform: translateZ(-50px);-webkit-transform:translateZ(-50px);-moz-transform:translateZ(-50px);}
.box-3d .left{-ms-transform:translateX(-50px) rotateY(90deg);-webkit-transform:translateX(-50px) rotateY(90deg);-moz-transform:translateX(-50px) rotateY(90deg);}
.box-3d .top{ -ms-transform:translateY(-50px) rotateX(90deg);-webkit-transform:translateY(-50px) rotateX(90deg);-moz-transform:translateY(-50px) rotateX(90deg);}
.box-3d .bottom{-ms-transform:translateY(50px) rotateX(-90deg); -webkit-transform:translateY(50px) rotateX(-90deg);-moz-transform:translateY(50px) rotateX(-90deg);}
.box-3d .right{
    -webkit-transform:translateX(50px) rotateY(90deg);-moz-transform:translateX(50px) rotateY(90deg);
    -ms-transform:translateX(50px) rotateY(90deg);
}
.swiper-container{width: 100%; height: 100%; position: relative;}
.swiper-wrapper{width: 100%; height: 100%; position: relative;}
.hd{ width: 100%; height: 100%; position: relative;}
.hd_bg{ width: 100%; height: 100%;background: -ms-linear-gradient(left,#663300,#663366);background: -webkit-linear-gradient(left,#663300,#663366);background: -moz-linear-gradient(left,#663300,#663366);}
.per_sta{ font-family: 'Comic Sans MS'; color: 	#363636; position:absolute; top: 40%; left: 50%; width: 420px; margin-left: -210px; height: 300px; font-size: 50px; font-weight: bold;}
.name{ font-size: 20px; font-family: 'Comic Sans MS'; color: 	#CDB5CD; position: absolute; top: 50%; margin-left: -82px; left: 50%;}
.hd_btn{ background:url(../img/xia.png) no-repeat; width: 35px; margin-left: -17px; cursor:pointer ; height: 20px; position: absolute; top: 60%;left: 50%;}
.swiper-pagination span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: #363636;
}
.swiper-button-next{
    position: absolute;
    top: 60%;
    left: 50%;
}
.yuan{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    border: 1px solid #fff;
    background: url("../img/lbxx.jpg");
    z-index: 100;
    opacity: 0.5;
    border-radius: 50%;
    -webkit-transition:.15s all linear;
    -moz-transition: .15s all linear;
    -ms-transition:  .15s all linear;
    -o-transition:  .15s all linear;
    transition:  .15s all linear;
    -webkit-background-clip: padding;
    box-shadow: 0 0 0 20px rgba(0,0,0,0),0 0 0 25px rgba(255,255,255,0);
}
.swiper-container{
    filter:blur(10px);
    -webkit-filter:blur(10px);
    -moz-filter:blur(10px);
    -ms-filter: blur(10px);
    transition: 1s all ease;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    -ms-transition: 1s all ease;
}
.swiper-slide:nth-child(2){
    height: 640px;
}
.bj{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
}