@charset "utf-8";
/* CSS Document */
.regsiter_box{width:978px; margin:0 auto; border:1px solid #f4fafc;}
.regsiter{ width:916px; border:1px solid #e8e8e8; padding-left:60px; padding-top:28px; padding-bottom:40px;}
.yxzc_nav{ width:860px; border-bottom:1px solid #d9e8e8;}
.yxzc_nav .active{ margin-left:10px; position:relative; border-radius:2px; background:#1aa29e; width:163px; height:36px;}
.yxzc_nav .active a{ color:#fff; display:block; line-height:36px; background:url(../img/ws_yxbb.png) no-repeat 40px center; padding-left:23px; text-align:center;}
.yxzc_nav .active i{ position:absolute; left:81px; bottom:-5px; width:10px; height:5px; background:url(../img/ws_xia.png) no-repeat;}
.yxzc_nav .second { background:#e9f6f6; border:1px solid #d9e8e8; border-bottom:0; border-radius:2px; margin-left:10px; width:156px; height:35px;}
.yxzc_nav .second a{ display:block; background:url(../img/ws_sj.png) no-repeat 39px center; color:#2bb8aa; text-align:center; line-height:35px;}
.yxzc_nav .last{ margin-top:15px;}
.yxzc_nav .last a{ color:#2bb8aa;}
.yxzc_nr span{ width:70px; line-height:34px; text-align:right; padding-right:10px;}
.yxzc_nr input{ margin-right:8px; width:258px; height:34px; border:1px solid #f7611e; outline:none;}
.yxzc_nr { margin-top:15px;}
.yn_nr{ margin-top:15px;}
.yxzc_nr i{ padding-left:22px; line-height:34px; background:url(../img/ws_mx.png) no-repeat left center;}
.ws_ruo{ margin-left:80px; margin-top:5px; margin-bottom:-10px;}
.ws_ruo span{ margin-right:2px; width:85px; height:20px; background:#eeeeee; color:#fff; text-align:center; line-height:20px;}
.yxzc_nr select{ margin-right:4px; width:72px; height:34px;}
.yxzc_nr .xuanxiang{ width:16px; height:16px; margin-left:80px;}
.yxzc_nr .ws_kd{ width:70px; height:34px; border:1px solid #aaaaaa;}
.yxzc_nr .ws_yanzhengma{ width:72px; height:36px; background:url(../img/ws_yanzhengma.png) no-repeat; margin-left:8px;}
.yxzc_nr a{ color:#2bb8aa; line-height:34px;}
.yxzc_nr .submit{ width:193px; height:36px; border:none; border-bottom:1px solid #0d7b71; border-radius:2px; background:#2db6a9; color:#fff; text-align:center; line-height:36px; margin-left:80px; cursor:pointer;}
.ws_mtw{ margin-left:80px; margin-top:8px;}
.ws_mtw a{ color:#2bb8aa;}